**Project Name:** Supply Chain Dataset Uncleaned from DataCo Global Company


**Dataset Information:** This project analyzes a hybrid dataset from DataCo Global, capturing the end to end supply chain ecosystem. The data spans critical operational phases including provisioning, production, sales, and commercial distribution, providing a 360-degree view of the company's logistics and profitability.

**Data Architecture:**

The dataset is composed of three distinct files:

**DataCoSupplyChainDataset.csv (Structured):** The primary transactional registry containing detailed order, shipping, and customer data.

**tokenized_access_logs.csv (Unstructured):** Tokenized web logs capturing user access patterns and system interactions.

**DescriptionDataCoSupplyChain.csv (Metadata):** A data dictionary defining the variables used across the datasets.

**Aim of the Project:** To process this information, we will utilize key Python libraries including Pandas and NumPy to perform rigorous data cleaning and manipulation.

Data Source : https://www.kaggle.com/datasets/shashwatwork/dataco-smart-supply-chain-for-big-data-analysis/data

In [1]:
#Importing all the modules

import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading the 3 datasets
DataCoSupplyChainDataset = pd.read_csv("/content/drive/MyDrive/Me/My project/Power BI/Datasets/Supply chain Dataset/DataCoSupplyChainDataset.csv", encoding='ISO-8859-1')
DescriptionDataCoSupplyChain = pd.read_csv("/content/drive/MyDrive/Me/My project/Power BI/Datasets/Supply chain Dataset/DescriptionDataCoSupplyChain.csv")
Tokenized_access_logs = pd.read_csv("/content/drive/MyDrive/Me/My project/Power BI/Datasets/Supply chain Dataset/tokenized_access_logs.csv")

We have 3 datasets as we know that its uncleaned and messy, may contain Null values. So we will be cleaning them individually.

In [3]:
# Setting the Column view to max.
pd.set_option('display.max_columns', None)

#### Data Cleaning (DataCoSupplyChainDataset)

In [4]:
# Viewing the top 5 rows of DataCoSupplyChainDataset
DataCoSupplyChainDataset.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Lname,Customer Password,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Cally,20755,Holloway,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Irene,19492,Luna,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajastán,PENDING,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,XXXXXXXXX,Gillian,19491,Maldonado,XXXXXXXXX,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018 12:06,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajastán,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,XXXXXXXXX,Tana,19490,Tate,XXXXXXXXX,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,1/13/2018 11:45,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Orli,19489,Hendricks,XXXXXXXXX,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,1/13/2018 11:24,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

We can notice that there are few useless columns in the dataset and we will be dropping these columns:

1. **Customer Email** - *Filled with one static value (XXXXXXXXX).*

2. **Customer Password** - *Filled with one static value (XXXXXXXXX).*
3. **Customer Fname** - *It's not useful for the Analysis, Because Logistics/Supply-Chain Analysis add zero Analytical Value.*
4. **Customer Lname** - *It's not useful for the Analysis, Because Logistics/Supply-Chain Analysis add zero Analytical Value.*
5. **Customer Street** - *It's not useful for the Analysis, Firstly it's personal information of the Customer, so we can't use any personal information of the customer for the analysis and We have enough columns for better geographic features, such as: (Customer City, Customer State, Customer Country, Latitude, Longitude.*
6. **Customer Zipcode** - *It's not useful for the Analysis, Firstly it's personal information of the Customer, so we can't use any personal information of the customer for the analysis and We have enough columns for better geographic features, such as: (Customer City, Customer State, Customer Country, Latitude, Longitude.*
7. **Order Zipcode** - *86% of the values are missing from the column, so it's impossible to fill meaningful values as there will not be any reliable pattern. Secondly Zipcode detials is not useful for the Analysis, because we already have stronger location fields such as: (Order City, Order State, Order Country, Latitude & Longitude) as these column provide most of the required information for the geographical information.*
8. **Product Description** - *As the Entire Column is filled with Nan Values.*
9. **Product Status** - *Filled wiht one static value 0. So it's not useful for the Analysis.*

In [5]:
DataCoSupplyChainDataset.shape

(180519, 53)

We can see that their is 180519 rows and 53 columns in DataCoSupplyChainDataset.

Dropping the the Above Columns:

In [6]:
cols_to_drop = [
    'Customer Email',
    'Customer Password',
    'Customer Fname',
    'Customer Lname',
    'Customer Street',
    'Customer Zipcode',
    'Order Zipcode',
    'Product Description',
    'Product Status'
]

DataCoSupplyChainDataset.drop(columns=cols_to_drop, inplace=True)

In [7]:
DataCoSupplyChainDataset.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,PR,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,PR,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajastán,PENDING,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,19491,Consumer,CA,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018 12:06,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajastán,CLOSED,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,CA,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,1/13/2018 11:45,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,PR,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,1/13/2018 11:24,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,1/15/2018 11:24,Standard Class

In [8]:
# Checking the Number of Columns and Rows.
DataCoSupplyChainDataset.shape

(180519, 44)

We can see that their is 180519 rows and 44 columns in DataCoSupplyChainDataset.

In [9]:
# Checking for the info of the dataset
DataCoSupplyChainDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 44 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Id                    180519 non-null  int64
 12  Customer Segment               180519 non-null  object
 13  Customer State                 180519 non-null  object
 14  Department Id                  180519 non-null  int64
 15  Department Name                180519 non-null  object
 16  Latitude                       180519 non-null  float64
 17  Longitude                      180519 non-null  float64
 18  Market                         180519 non-null  object
 19  Order City                     180519 non-null  object
 20  Order Country                  180519 non-null  object
 21  Order Customer Id              180519 non-null  int64
 22  order date (DateOrders)        180519 non-null  object
 23  Order Id                       180519 non-null  int64
 24  Order Item Cardprod Id         180519 non-null  int64
 25  Order Item Discount            180519 non-null  float64
 26  Order Item Discount Rate       180519 non-null  float64
 27  Order Item Id                  180519 non-null  int64
 28  Order Item Product Price       180519 non-null  float64
 29  Order Item Profit Ratio        180519 non-null  float64
 30  Order Item Quantity            180519 non-null  int64
 31  Sales                          180519 non-null  float64
 32  Order Item Total               180519 non-null  float64
 33  Order Profit Per Order         180519 non-null  float64
 34  Order Region                   180519 non-null  object
 35  Order State                    180519 non-null  object
 36  Order Status                   180519 non-null  object
 37  Product Card Id                180519 non-null  int64
 38  Product Category Id            180519 non-null  int64
 39  Product Image                  180519 non-null  object
 40  Product Name                   180519 non-null  object
 41  Product Price                  180519 non-null  float64
 42  shipping date (DateOrders)     180519 non-null  object
 43  Shipping Mode                  180519 non-null  object
dtypes: float64(12), int64(13), object(19)
memory usage: 60.6+ MB

In [10]:
# Checking for Null Values
DataCoSupplyChainDataset.isnull().sum()

Type                             0
Days for shipping (real)         0
Days for shipment (scheduled)    0
Benefit per order                0
Sales per customer               0
Delivery Status                  0
Late_delivery_risk               0
Category Id                      0
Category Name                    0
Customer City                    0
Customer Country                 0
Customer Id                      0
Customer Segment                 0
Customer State                   0
Department Id                    0
Department Name                  0
Latitude                         0
Longitude                        0
Market                           0
Order City                       0
Order Country                    0
Order Customer Id                0
order date (DateOrders)          0
Order Id                         0
Order Item Cardprod Id           0
Order Item Discount              0
Order Item Discount Rate         0
Order Item Id                    0
Order Item Product Price         0
Order Item Profit Ratio          0
Order Item Quantity              0
Sales                            0
Order Item Total                 0
Order Profit Per Order           0
Order Region                     0
Order State                      0
Order Status                     0
Product Card Id                  0
Product Category Id              0
Product Image                    0
Product Name                     0
Product Price                    0
shipping date (DateOrders)       0
Shipping Mode                    0
dtype: int64

In DataCoSupplyChainDataset does'nt have Null Values.

In [11]:
DataCoSupplyChainDataset.duplicated().sum()

np.int64(0)

In DataCoSupplyChainDataset there is'nt any Duplicated Values.

So far we have removed some useless columns and checked for the null values and duplicate values, Now we will check for data quality of the dataset.

In [12]:
# Checking for the spread of the data for numerical columns.
DataCoSupplyChainDataset.describe()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Department Id,Latitude,Longitude,Order Customer Id,Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Product Card Id,Product Category Id,Product Price
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000
mean,3.497654,2.931847,21.974989,183.107609,0.548291,31.851451,6691.379495,5.443460,29.719955,-84.915675,6691.379495,36221.894903,692.509764,20.664741,0.101668,90260.000000,141.232550,0.120647,2.127638,203.772096,183.107609,21.974989,692.509764,31.851451,141.232550
std,1.623722,1.374449,104.433526,120.043670,0.497664,15.640064,4162.918106,1.629246,9.813646,21.433241,4162.918106,21045.379569,336.446807,21.800901,0.070415,52111.490959,139.732492,0.466796,1.453451,132.273077,120.043670,104.433526,336.446807,15.640064,139.732492
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,2.000000,-33.937553,-158.025986,1.000000,1.000000,19.000000,0.000000,0.000000,1.000000,9.990000,-2.750000,1.000000,9.990000,7.490000,-4274.979980,19.000000,2.000000,9.990000
25%,2.000000,2.000000,7.000000,104.379997,0.000000,18.000000,3258.500000,4.000000,18.265432,-98.446312,3258.500000,18057.000000,403.000000,5.400000,0.040000,45130.500000,50.000000,0.080000,1.000000,119.980003,104.379997,7.000000,403.000000,18.000000,50.000000
50%,3.000000,4.000000,31.520000,163.990005,1.000000,29.000000,6457.000000,5.000000,33.144863,-76.847908,6457.000000,36140.000000,627.000000,14.000000,0.100000,90260.000000,59.990002,0.270000,1.000000,199.919998,163.990005,31.520000,627.000000,29.000000,59.990002
75%,5.000000,4.000000,64.800003,247.399994,1.000000,45.000000,9779.000000,7.000000,39.279617,-66.370583,9779.000000,54144.000000,1004.000000,29.990000,0.160000,135389.500000,199.990005,0.360000,3.000000,299.950012,247.399994,64.800003,1004.000000,45.000000,199.990005
max,6.000000,4.000000,911.799988,1939.989990,1.000000,76.000000,20757.000000,12.000000,48.781933,115.263077,20757.000000,77204.000000,1363.000000,500.000000,0.250000,180519.000000,1999.989990,0.500000,5.000000,1999.989990,1939.989990,911.799988,1363.000000,76.000000,1999.989990

We have problem in 3 columns from the numerical columns:

1. **Benefit per order** - *has extreme high negative values of min(-4274.979980).*

2. **Order Profit Per Order** - *has extreme high negative values of min(-4274.979980).*

But we can observe that in our dataset, there is not any column that consists the cost of the product and we don't have a clear picture, how the benefit per order and order profit per order is computed, so we are going to keep the values as it is.

As we are done with the Numerical values, now we check the values in Categorical Values.

In [ ]:
# Checking for the data quality in Categorical data types

DataCoSupplyChainDataset_cols = list(DataCoSupplyChainDataset.select_dtypes(include='object').columns)

def return_unique_values(n):
  for i in n:
    print(f"{i} : {list(DataCoSupplyChainDataset[i].unique())}")
    print('-'*80)
    print('-'*80)

return_unique_values(DataCoSupplyChainDataset_cols)

We can notice that all the columns have meaningful values, Except the Order State column, Some of the state names are spelled wrong.
For Example: Rajastán, \x8eilina. I think its a encoding problem, so we will be using unidecode module to fix these problem.

In [14]:
# Installing the unidecode Module

!pip install unidecode

Requirement already satisfied: unidecode in /usr/local/lib/python3.12/dist-packages (1.4.0)

In [15]:
import unidecode

DataCoSupplyChainDataset['Order State Clean'] = DataCoSupplyChainDataset['Order State'].apply(unidecode.unidecode)

In [16]:
list(DataCoSupplyChainDataset['Order State Clean'].unique())

['Java Occidental',
 'Rajastan',
 'Queensland',
 'Guangdong',
 'Tokio',
 'Celebes Septentrional',
 'Maharashtra',
 'Seul',
 'Madhya Pradesh',
 'Victoria',
 'Australia Occidental',
 'Guangxi',
 'Delhi',
 'Gansu',
 'Singapur',
 'Karnataka',
 'Nueva Gales del Sur',
 'Sumatra Septentrional',
 'Territorio de la Capital Australiana',
 'Zhejiang',
 'Uttar Pradesh',
 'Bursa',
 'Australia del Sur',
 'Estambul',
 'Ulan Bator',
 'Washington',
 'California',
 'Kansas',
 'Cross River',
 'Kinshasa',
 'Dakar',
 'Gran Casablanca',
 'Renania del Norte-Westfalia',
 'Isla de Francia',
 'Paises del Loira',
 'Groningen',
 'Inglaterra',
 'Alsacia-Champana-Ardenas-Lorena',
 'Provenza-Alpes-Costa Azul',
 'Guatemala',
 'San Salvador',
 'Chiriqui',
 'Santo Domingo',
 'Zulia',
 'Risaralda',
 'Francisco Morazan',
 'Bahia',
 'Distrito Federal',
 'Jalisco',
 'Puebla',
 'Sao Paulo',
 'Montevideo',
 'Buenos Aires',
 'Parana',
 'Camaguey',
 'Las Tunas',
 'Nayarit',
 'Panama',
 'Mexico',
 'Alagoas',
 'Minas Gerais',
 'Santiago de Cuba',
 'Cortes',
 'Lima (ciudad)',
 'Holguin',
 'Veracruz',
 'Managua',
 'Tabasco',
 'Ceara',
 'Isla de la Juventud',
 'Chimaltenango',
 'Pichincha',
 'Guarico',
 'Maranon',
 'Leon',
 'Rio Negro',
 'Atlantida',
 'Bie',
 'Jartum',
 'Gobolka Woqooyi Galbeed',
 'Garb-Chrarda-Beni Hsen',
 'Lagunes',
 'Ash Sharqiyah',
 'Umbria',
 'Bavaria',
 'Sajonia-Anhalt',
 'Bremen',
 'Campania',
 'Sicilia',
 'Madrid',
 'Cataluna',
 'Norte-Paso de Calais-Picardia',
 'Aquitania-Lemosin-Poitou-Charentes',
 'Escocia',
 'Baja Sajonia',
 'Pais Vasco',
 'Estocolmo',
 'Holanda Septentrional',
 'Viena',
 'Texas',
 'Arizona',
 'Ohio',
 'Indiana',
 'Ontario',
 'Pensilvania',
 'Illinois',
 'Analamanga',
 'Alger',
 'Montserrado',
 'Fromager',
 'Meridional',
 'Fez-Bulman',
 'El Cairo',
 'Al Bahr al Ahmar',
 'Niamey',
 'Rabat-Sale-Zemur-Zaer',
 'Gauteng',
 'Marrakech-Tensift-Al Hauz',
 'Mar Rojo',
 'Lagos',
 'Zambezia',
 'Cabo Oriental',
 'Shinyanga',
 'Jubbada Hoose',
 'KwaZulu-Natal',
 'Jerusalen',
 'Wellington',
 'Daca',
 'Bangkok',
 'Bagdad',
 'Adana',
 'Riad',
 'Tianjin',
 'Otago',
 'Capital Nacional',
 'Mersin',
 'Karaganda',
 'Shandong',
 'Jiangsu',
 'Liaoning',
 'Hunan',
 'Kerman',
 'Guyarat',
 'Java Central',
 'Rangun',
 'Kutahya',
 'Namangan',
 'Hubei',
 'Heilongjiang',
 'Mono',
 'Akwa Ibom',
 'Delta',
 'Bandundu',
 'Ouest',
 'Luanda',
 'Borno',
 'Nairobi',
 'Copperbelt',
 'Littoral',
 'Kasai Oriental',
 'Maritima',
 'Boeny',
 'Kano',
 'Annaba',
 'Dar es Salaam',
 'Cabo Occidental',
 'Languedoc-Rosellon-Mediodia-Pirineos',
 'Khmelnytskyi',
 'Bretana',
 'Centro-Valle de Loira',
 'Veneto',
 'Marche',
 'Pomerania',
 'Castilla-La Mancha',
 'Lisboa',
 'Satu Mare',
 'Norte de Santander',
 'Zacatecas',
 'Chihuahua',
 'Para',
 'Santa Catarina',
 'Nuevo Leon',
 'Huila',
 'Queretaro',
 'Chaguanas',
 'Sonora',
 'Monagas',
 'Amazonas',
 'Huehuetenango',
 'Santa Fe',
 'Morelos',
 'Goias',
 'Bogota',
 'Chhattisgarh',
 'Herat',
 'Shaanxi',
 'Kalimantan Oriental',
 'Yogyakarta',
 'Jilin',
 'Shanghai',
 'Kanagawa',
 'Punyab',
 'Java Oriental',
 'Ciudad Ho Chi Minh',
 'Daegu',
 'Haryana',
 'Nakhon Ratchasima',
 'Sabah',
 'Tabuk',
 'Auckland',
 'Yakarta',
 'Bihar',
 'Nueva York',
 'Carolina del Norte',
 'Noroeste',
 'Hesse',
 'Giurgiu',
 'Lviv',
 'Michoacan',
 'Guanajuato',
 'Qom',
 'Colorado',
 'Florida',
 'Apulia',
 'Hamburgo',
 'Holanda Meridional',
 'Galati',
 'Gueldres',
 'Emilia-Romana',
 'Uusimaa',
 'Lacio',
 'Yaroslavl',
 'Finlandia del Sudoeste',
 'Bashkortostan',
 'Lublin',
 'Dublin',
 'Toscana',
 'Baden-Wurtemberg',
 'Oslo',
 'Banska Bystrica',
 'Lombardia',
 'Andalucia',
 'Piamonte',
 'Lieja',
 'Donetsk',
 'Schleswig-Holstein',
 'Silesia',
 'Durango',
 'Espiritu Santo',
 'Santiago de Chile',
 'Pinar del Rio',
 'Puno',
 'Tamaulipas',
 'La Paz',
 'Matagalpa',
 'Baja California',
 'Campeche',
 'Carabobo',
 'Amapa',
 'Santa Caterina',
 'Coahuila',
 'Guantanamo',
 'Valle del Cauca',
 'Arequipa',
 'Acre',
 'Ayacucho',
 'Rio de Janeiro',
 'Telangana',
 'Canterbury',
 'Calabarzon',
 'Lorestan',
 'Izmir',
 'Antalya',
 'Taiz',
 'Hokkaido',
 'Mindanao Septentrional',
 'Chauia-Uardiga',
 'Gran Accra',
 'Tizi Ouzou',
 'Mequinez-Tafilalet',
 'Central',
 'Nilo Blanco',
 'Alejandria',
 'Katanga',
 'Gezira',
 'Benadir',
 'Kindia',
 'Taza-Alhucemas-Taunat',
 'Dire Dawa',
 'Tambov',
 'Utrecht',
 'Limburgo',
 'Sofia-Ciudad',
 'Normandia',
 'Berlin',
 'Cerdena',
 'Abruzos',
 'Lugansk',
 'Henao',
 'Valenciana',
 'Shizuoka',
 'Anhui',
 'Gyeongsangnam',
 'Hebei',
 'Andhra Pradesh',
 'Surjandarin',
 'Bishkek',
 'Pekin',
 'Bengala Occidental',
 'Visayas Occidental',
 'Luzon Central',
 'Tekirdag',
 'Meca',
 'Imericia',
 'Osaka',
 'Sichuan',
 'Celebes Suroriental',
 'Territorio del Norte',
 'Guilan',
 'Juzestan',
 'Liguria',
 'Sajonia',
 'Auvernia-Rodano-Alpes',
 'Moscu',
 'Amberes',
 'Daguestan',
 'Cheliabinsk',
 'Brandenburgo',
 'Auvernia',
 'Astracan',
 'Mazovia',
 'Manisa',
 'Tel Aviv',
 'Astana',
 'Tasmania',
 'Jharkhand',
 'Taranaki',
 'Markazi',
 'Eskisehir',
 'Jambi',
 'Ankara',
 'Shanxi',
 'Fukui',
 'Basora',
 'Waikato',
 'Almaty',
 'Ajman',
 'Gyeonggi',
 'Nelson',
 'Jiangxi',
 'Chongqing',
 'Jaiber Pajtunjua',
 'Nom Pen',
 'Tamil Nadu',
 'Perak',
 'Sumatra Meridional',
 'Cuscatlan',
 'Kabul',
 'Oklahoma',
 'Kaduna',
 'Kampala',
 'Rios',
 'Niger',
 'Constantina',
 'Ebonyi',
 'Tanger-Tetuan',
 'Maseru',
 'Vastra Gotaland',
 'Castilla y Leon',
 'Dnipropetrovsk',
 'Renania-Palatinado',
 'Mykolayiv',
 'Calabria',
 'Mecklemburgo-Pomerania Occidental',
 'Vilna',
 'Timis',
 'Berna',
 'Borgona-Franco Condado',
 'Budapest',
 'Navarra',
 'Corse',
 'Region Capital',
 'Porto',
 'Gales',
 'Drenthe',
 'Amur',
 'Varmland',
 'Salzburgo',
 'Salta',
 'Quezaltenango',
 'Islas Baleares',
 'Sumy',
 'Bacau',
 'Kymenlaakso',
 'Opole',
 'Brabante Septentrional',
 'Gomel',
 'Rogaland',
 'Primorje-Gorski Kotar',
 'Kaunas',
 'Vinnytsia',
 'Ginebra',
 'Turingia',
 'Irkutsk',
 'Prahova',
 'Jarkov',
 'Misiones',
 'Sinaloa',
 'Cienfuegos',
 'Denizli',
 'Assam',
 'Corum',
 'Fujian',
 'Cordillera',
 'Prefectura de Vientian',
 'Th? Do Ha N?i',
 'Uttarakhand',
 'Kashkadar',
 'Sistan y Baluchistan',
 'Aichi',
 'Trengganu',
 'Kerala',
 'Muharraq',
 'Maryland',
 'Georgia',
 'Alabama',
 'Massachusetts',
 'Virginia',
 'Nevada',
 'Michigan',
 'Minnesota',
 'Columbia britanica',
 'Nebraska',
 'Alberta',
 'Connecticut',
 'Kentucky',
 'Fayun',
 'Flanders Oriental',
 'Kumanovo',
 'Overijssel',
 'Dinamarca Meridional',
 'Kaliningrado',
 'Grad Zagreb',
 'Frisia',
 'Stavropol',
 'Constanza',
 'Hedmark',
 'San Galo',
 'Varna',
 'Moravia-Silesia',
 'Liberec',
 'Zurich',
 'Ivanovo',
 'Melilla',
 'Kaluga',
 'Poltava',
 'Upsala',
 'Medina',
 'Kuala Lumpur',
 'Cadisia',
 'Hyogo',
 'Arbil',
 'Fars',
 'Henan',
 'Chittagong',
 'Nangarhar',
 'Bay of Plenty',
 'Pahang',
 'Tiflis',
 'Ninive',
 'Zanyan',
 'Bali',
 'Daejeon',
 'Gisborne',
 'Occidental',
 'Kien Giang',
 'Hormozgan',
 'Delaware',
 'Tennessee',
 'Arkansas',
 'Misuri',
 'Oregon',
 'Maine',
 'Saskatchewan',
 'Harare',
 'Donga',
 'Anseba',
 'Centro',
 'Valcea',
 'Brest',
 'Rio Grande do Sul',
 'Masaya',
 'Antioquia',
 'Guanacaste',
 'Esteli',
 'Oruro',
 'Yucatan',
 'Oueme',
 'Nigde',
 'Ardahan',
 'Kasai Occidental',
 'Gran Polonia',
 'Equateur',
 'Septentrional',
 'Sanliurfa',
 'Kahramanmara?',
 'Haifa',
 'Thies',
 'Oran',
 'Nueva Jersey',
 'Virginia Occidental',
 'Misisipi',
 'Manipur',
 'Pernambuco',
 'Mato Grosso',
 'Arauca',
 'San Luis Potosi',
 'Mendoza',
 'Tocantins',
 'Mayabeque',
 'Matanzas',
 'Villa Clara',
 'Los Lagos',
 'Santa Ana',
 'Anzoategui',
 'La Romana',
 'Barahona',
 'Paraiba',
 'La Vega',
 'Magdalena',
 'Ivano-Frankivsk',
 'Mwanza',
 'Bengasi',
 'Arjanguelsk',
 'Jizan',
 'Lodz',
 'iauliai',
 'Choluteca',
 'Chiapas',
 'Rio Grande del Norte',
 'Artibonito',
 'Sancti Spiritus',
 'Quindio',
 'Hidalgo',
 'Santander',
 'Atlantico',
 'San Fernando',
 'Aragua',
 'San Juan',
 'Granma',
 'Callao',
 'Canelones',
 'Colon',
 'Piaui',
 'Gaziantep',
 'Busan',
 'Konya',
 'Hamadan',
 'Oita',
 'Mongolia Interior',
 'Odisha',
 'Granada',
 'Escuintla',
 'Distrito Capital',
 'Yoro',
 'Bio-Bio',
 'San Miguel',
 'Guerrero',
 'Cochabamba',
 'Caldas',
 'Lara',
 'Casanare',
 'Sylhet',
 'Khatlon',
 'Ciudad de Almaty',
 'Borneo Occidental',
 'Pavlodar',
 'Manawatu-Wanganui',
 'Jammu y Cachemira',
 'Hims',
 'Riau',
 'Babilonia',
 'Khulna',
 'Guadalupe',
 'Colima',
 'Junin',
 'Entre Rios',
 'Hiroshima',
 'Oyo',
 'Katsina',
 'Buenos Aires (provincia)',
 'Carolina del Sur',
 'Klaip?da',
 'Yunnan',
 'Espaillat',
 'Bulawayo',
 'Malanje',
 'Marlborough',
 'Baki',
 'Negeri Sembilan',
 'Sind',
 'Sarawak',
 'Jorasan Razavi',
 'Lebap',
 'Sevastopol',
 'Oaxaca',
 'Guayas',
 'San Pedro de Macoris',
 "O'Higgins",
 'La Libertad',
 'Peravia',
 'Chaco',
 'Paysandu',
 'Rivera',
 'Duarte',
 'Cordoba',
 'Santa Cruz',
 'Asuncion',
 'Piura',
 'Ciego de Avila',
 'Cajamarca',
 'Chinandega',
 'Antofagasta',
 'Rondonia',
 'Quintana Roo',
 'Tachira',
 'Kirsehir',
 'Asjabad',
 'Guizhou',
 'Isfahan',
 'Aman',
 'Yazd',
 'Al Jawf',
 'Kermanshah',
 'Sumatra Occidental',
 'Hong Kong',
 'Akmola',
 'Aydin',
 'Nagasaki',
 'Sivas',
 'Mardin',
 'Mures',
 'Carintia',
 'Vladimir',
 'Belgorod',
 'Valparaiso',
 'Manabi',
 'El Beni',
 'Sergipe',
 'Sonsonate',
 'Southland',
 'Kilis',
 'Siirt',
 'Erzurum',
 'Jeju',
 'Kastamonu',
 'Wisconsin',
 'Quebec',
 'Nuevo Mexico',
 'Dukala-Abda',
 'Asir',
 'Hatay',
 'Nzerekore',
 'Chiba',
 'Asturias',
 'Cork',
 'Alta Austria',
 'Murcia',
 'Enugu',
 'Costa',
 'Suhaj',
 'Dublin del Sur',
 'Martinica',
 'Bolivar',
 'San Cristobal',
 'Balikesir',
 'Balti',
 'Osjecko-Baranjska',
 'Kayseri',
 'Northland',
 'Luisiana',
 'Manitoba',
 'Cidade De Maputo',
 'Cundinamarca',
 'Tarapaca',
 'Chandigarh',
 'Inhambane',
 'Galicia',
 'Teheran',
 'Khanh Hoa',
 "Hawke's Bay",
 'Doha',
 'Rhode Island',
 'Utah',
 'Namibe',
 'Nyanza',
 'Nord',
 'Mazandaran',
 'Saga',
 'Mopti',
 'Durres',
 'Ashanti',
 'Ancash',
 'Borneo Meridional',
 'Ica',
 'Laghouat',
 'Mpumalanga',
 'Lusaka',
 'Grodno',
 'Praga',
 'Brabante Flamenco',
 'Briansk',
 'Stiria',
 'Bruselas',
 'Potosi',
 'Bengkulu',
 'Hainan',
 'Nuevo Hampshire',
 'Bechar',
 'Abia',
 'Sud',
 'Ogun',
 'Bani Suwayf',
 'Adamawa',
 'Provincia Oriental',
 'Kankan',
 'Niari',
 'Cluj',
 'Podlaquia',
 'Flanders Occidental',
 'Polonia Menor',
 'Federacion de Bosnia y Herzegovina',
 'Zaporiyia',
 'Burgas',
 'Friuli-Venecia Julia',
 'Corrientes',
 'Roraima',
 'Tolima',
 'Mascate',
 'Mary',
 'Osmaniye',
 'Karbala',
 'Yamaguchi',
 'Idaho',
 'Distrito de Columbia',
 'Estado Libre',
 'Batna',
 'Sokoto',
 'Tunez',
 'Maradi',
 'Benguela',
 'Sarre',
 'Caras-Severin',
 'Arad',
 'Cherkasy',
 'Volinia',
 'Adamaoua',
 'Mbeya',
 'Kwara',
 'Plateau',
 'Atakora',
 'Yibuti',
 'Est',
 'Trentino-Alto Adigio',
 'Maramures',
 'Chisinau',
 'Aceh',
 'Nagano',
 'Kigoma',
 'Buyumbura Mairie',
 'Ceuta',
 'Chernihiv',
 'Cantabria',
 'Podgorica',
 'Pwani',
 'Estuaire',
 'Vlore',
 'Andijan',
 'Territorio de la Capital Federal',
 'Gulu',
 'Azuay',
 'Al Buhayrah',
 'Kigali',
 'Ecuatoria Central',
 'Luxemburgo',
 'Chuquisaca',
 'Miranda',
 'Selangor',
 'Ouest del Sur',
 'Tadla-Azilal',
 'Iasi',
 'Yambol',
 'Puducherry',
 'Hradec Kralove',
 'Sofala',
 'Sikasso',
 'Arusha',
 'Ondo',
 'Menia',
 'Limpopo',
 'Khomas',
 'Nouakchott',
 'Edo',
 'Cabo Delgado',
 'Osun',
 'Djelfa',
 'Oriental',
 'Alibori',
 'Basilea-Ciudad',
 'Basilicata',
 'Nitra',
 'Escania',
 'Ternopil',
 'Korce',
 'Vaud',
 'Buzau',
 'Namur',
 'Tirol',
 'Coimbra',
 'Panevezys',
 'Attica',
 'Sibiu',
 'Ardebil',
 'T?nh C?n Th?',
 'Kurdistan',
 'Elazig',
 'Dix-Huit Montagnes',
 'Imo',
 'Plovdiv',
 'Braila',
 'Narino',
 'Plateaux',
 'Hordaland',
 'Extremadura',
 'Caqueta',
 'Portuguesa',
 'Matruh',
 'Mostaganem',
 'Anambra',
 'Misurata',
 'Bamako',
 'Skikda',
 'Sus-Masa-Draa',
 'Nord-Ouest',
 'Gorj',
 'Zhytomyr',
 'Jutlandia Central',
 'Arica y Parinacota',
 'Puerto Said',
 'Tarija',
 'Sucre',
 'Kayes',
 'Yaracuy',
 'Mato Grosso del Sur',
 'Sirnak',
 'Dayr az Zawr',
 'Ulsan',
 'Baja California Sur',
 'Van',
 'Ucayali',
 'Tabora',
 'Moquegua',
 'Cesar',
 'Haute-Matsiatra',
 'Manzini',
 'Dolj',
 'Celebes Central',
 'Di Car',
 'Iowa',
 'Demerara-Berbice Superior',
 'Neuquen',
 'Tripura',
 'Rivne',
 'Kostanai',
 'Kocaeli',
 'Buskerud',
 'Saitama',
 'Amasya',
 'Nampula',
 'Yobe',
 'Saida',
 'Loreto',
 'Franzosisch-Guayana',
 'Okayama',
 'Yalova',
 'Voronezh',
 'Bra?ov',
 'Da Nang',
 'Batman',
 'Bangui',
 'Pernik',
 'Atacama',
 'Catamarca',
 'Chubut',
 'Monsenor Nouel',
 'Cojedes',
 'Gunma',
 'Qazvin',
 'Jorasan del Sur',
 'Baluchistan',
 'Rajshahi',
 'Kagawa',
 'Vermont',
 'Mashonalandia Occidental',
 'Arges',
 'Artemisa',
 'Ibaraki',
 'Taipei',
 'Jerson',
 'Pilsen',
 'Harjumaa',
 'Montana',
 'Shkoder',
 'Mtwara',
 'Aomori',
 'Botosani',
 'Aswan',
 'Diana',
 'Novgorod',
 'Lucerna',
 'Usti nad Labem',
 'Vargas',
 'Qinghai',
 'Beirut',
 'Ishikawa',
 'Irbid',
 'Kivu del Sur',
 'Nicosia',
 'Huambo',
 'Gharbia',
 'Bajo Congo',
 'Benue',
 'Choco',
 'Dakota del Sur',
 'Neamt',
 'Maniema',
 'Maputo',
 'San Luis',
 'Samsun',
 'Tete',
 'Kasala',
 'Vest-Agder',
 'Nusa Tenggara Oriental',
 'Ningxia Hui',
 'Tlemcen',
 'Olomouc',
 'Nevsehir',
 'Xinjiang Uygur',
 'Magallanes y Antartica Chilena',
 'Fukuoka',
 'Boyaca',
 'Vitsyebsk',
 'Tochigi',
 'Kafr el Sheij',
 'Nueva Esparta',
 'Al Hudayda',
 'Guelma',
 'Bugia',
 'Trebisonda',
 'Bisau',
 'Ras al-Jaima',
 'Kirovohrad',
 'Zhambyl',
 'Split-Dalmacia',
 'Santiago del Estero',
 'Kars',
 'Aksaray',
 'Tanga',
 'ilina',
 'Vallee du Bandama',
 'Departamento Atlantico',
 'Galway',
 'Manica',
 'Maluku',
 'Malatya',
 'Ziguinchor',
 'Gran Valle del Rift',
 'Diffa',
 'Borgou',
 'Adiyaman',
 'Jinja',
 'Tipaza',
 'Morogoro',
 'Atsinanana',
 'Asiut',
 'Selandia',
 'Gy?r',
 'Nusatenggara Occidental',
 'Afyonkarahisar',
 'Papua',
 'Diyarbakir',
 'Canakkale',
 'Elbasan',
 'Nueva Escocia',
 'Saladino',
 'Libano del Norte',
 'Paramaribo',
 'Mesena',
 'Extreme-Nord',
 'Kilimanjaro',
 ...]

As we can see that, it has fixed, but there are certain state names, still its not fixed. we will be fixing it manually using the mapping.

In [17]:
# Defining the Error State Name in a Dictionaries.
fix_map = {
    'Kahramanmara?': 'Kahramanmaras',
    'Th? Do Ha N?i': 'Hanoi',
    'T?nh C?n Th?': 'Can Tho',
    'Klaip?da': 'Klaipeda',
    'Gy?r': 'Gyor',
    'Bra?ov': 'Brasov',
    'iauliai': 'Siauliai',
    'ilina': 'Zilina',
    'Kahramanmara?': 'Kahramanmaras',

    # Remove redundant qualifiers
    'Lima (ciudad)': 'Lima',
    'Sofia-Ciudad': 'Sofia',
    'Basilea-Ciudad': 'Basel-Stadt',
    'Departamento Atlantico': 'Atlantico',
    'Cidade De Maputo': 'Maputo',
    'Grad Zagreb': 'Zagreb',
    'Gran Casablanca': 'Casablanca',
    'Buyumbura Mairie': 'Bujumbura Mairie',

    # Specific translations
    'Franzosisch-Guayana': 'French Guiana'
}

# Applying the Dictionaries,
DataCoSupplyChainDataset['Order State Clean'] = DataCoSupplyChainDataset['Order State Clean'].replace(fix_map)

In [22]:
# Ensure all names are String Datatype
DataCoSupplyChainDataset['Order State Clean'] = DataCoSupplyChainDataset['Order State Clean'].astype(str)

# Removing the unwanted Space
DataCoSupplyChainDataset['Order State Clean'] = DataCoSupplyChainDataset['Order State Clean'].str.strip()

In [23]:
list(DataCoSupplyChainDataset['Order State Clean'].unique())

['Java Occidental',
 'Rajastan',
 'Queensland',
 'Guangdong',
 'Tokio',
 'Celebes Septentrional',
 'Maharashtra',
 'Seul',
 'Madhya Pradesh',
 'Victoria',
 'Australia Occidental',
 'Guangxi',
 'Delhi',
 'Gansu',
 'Singapur',
 'Karnataka',
 'Nueva Gales del Sur',
 'Sumatra Septentrional',
 'Territorio de la Capital Australiana',
 'Zhejiang',
 'Uttar Pradesh',
 'Bursa',
 'Australia del Sur',
 'Estambul',
 'Ulan Bator',
 'Washington',
 'California',
 'Kansas',
 'Cross River',
 'Kinshasa',
 'Dakar',
 'Casablanca',
 'Renania del Norte-Westfalia',
 'Isla de Francia',
 'Paises del Loira',
 'Groningen',
 'Inglaterra',
 'Alsacia-Champana-Ardenas-Lorena',
 'Provenza-Alpes-Costa Azul',
 'Guatemala',
 'San Salvador',
 'Chiriqui',
 'Santo Domingo',
 'Zulia',
 'Risaralda',
 'Francisco Morazan',
 'Bahia',
 'Distrito Federal',
 'Jalisco',
 'Puebla',
 'Sao Paulo',
 'Montevideo',
 'Buenos Aires',
 'Parana',
 'Camaguey',
 'Las Tunas',
 'Nayarit',
 'Panama',
 'Mexico',
 'Alagoas',
 'Minas Gerais',
 'Santiago de Cuba',
 'Cortes',
 'Lima',
 'Holguin',
 'Veracruz',
 'Managua',
 'Tabasco',
 'Ceara',
 'Isla de la Juventud',
 'Chimaltenango',
 'Pichincha',
 'Guarico',
 'Maranon',
 'Leon',
 'Rio Negro',
 'Atlantida',
 'Bie',
 'Jartum',
 'Gobolka Woqooyi Galbeed',
 'Garb-Chrarda-Beni Hsen',
 'Lagunes',
 'Ash Sharqiyah',
 'Umbria',
 'Bavaria',
 'Sajonia-Anhalt',
 'Bremen',
 'Campania',
 'Sicilia',
 'Madrid',
 'Cataluna',
 'Norte-Paso de Calais-Picardia',
 'Aquitania-Lemosin-Poitou-Charentes',
 'Escocia',
 'Baja Sajonia',
 'Pais Vasco',
 'Estocolmo',
 'Holanda Septentrional',
 'Viena',
 'Texas',
 'Arizona',
 'Ohio',
 'Indiana',
 'Ontario',
 'Pensilvania',
 'Illinois',
 'Analamanga',
 'Alger',
 'Montserrado',
 'Fromager',
 'Meridional',
 'Fez-Bulman',
 'El Cairo',
 'Al Bahr al Ahmar',
 'Niamey',
 'Rabat-Sale-Zemur-Zaer',
 'Gauteng',
 'Marrakech-Tensift-Al Hauz',
 'Mar Rojo',
 'Lagos',
 'Zambezia',
 'Cabo Oriental',
 'Shinyanga',
 'Jubbada Hoose',
 'KwaZulu-Natal',
 'Jerusalen',
 'Wellington',
 'Daca',
 'Bangkok',
 'Bagdad',
 'Adana',
 'Riad',
 'Tianjin',
 'Otago',
 'Capital Nacional',
 'Mersin',
 'Karaganda',
 'Shandong',
 'Jiangsu',
 'Liaoning',
 'Hunan',
 'Kerman',
 'Guyarat',
 'Java Central',
 'Rangun',
 'Kutahya',
 'Namangan',
 'Hubei',
 'Heilongjiang',
 'Mono',
 'Akwa Ibom',
 'Delta',
 'Bandundu',
 'Ouest',
 'Luanda',
 'Borno',
 'Nairobi',
 'Copperbelt',
 'Littoral',
 'Kasai Oriental',
 'Maritima',
 'Boeny',
 'Kano',
 'Annaba',
 'Dar es Salaam',
 'Cabo Occidental',
 'Languedoc-Rosellon-Mediodia-Pirineos',
 'Khmelnytskyi',
 'Bretana',
 'Centro-Valle de Loira',
 'Veneto',
 'Marche',
 'Pomerania',
 'Castilla-La Mancha',
 'Lisboa',
 'Satu Mare',
 'Norte de Santander',
 'Zacatecas',
 'Chihuahua',
 'Para',
 'Santa Catarina',
 'Nuevo Leon',
 'Huila',
 'Queretaro',
 'Chaguanas',
 'Sonora',
 'Monagas',
 'Amazonas',
 'Huehuetenango',
 'Santa Fe',
 'Morelos',
 'Goias',
 'Bogota',
 'Chhattisgarh',
 'Herat',
 'Shaanxi',
 'Kalimantan Oriental',
 'Yogyakarta',
 'Jilin',
 'Shanghai',
 'Kanagawa',
 'Punyab',
 'Java Oriental',
 'Ciudad Ho Chi Minh',
 'Daegu',
 'Haryana',
 'Nakhon Ratchasima',
 'Sabah',
 'Tabuk',
 'Auckland',
 'Yakarta',
 'Bihar',
 'Nueva York',
 'Carolina del Norte',
 'Noroeste',
 'Hesse',
 'Giurgiu',
 'Lviv',
 'Michoacan',
 'Guanajuato',
 'Qom',
 'Colorado',
 'Florida',
 'Apulia',
 'Hamburgo',
 'Holanda Meridional',
 'Galati',
 'Gueldres',
 'Emilia-Romana',
 'Uusimaa',
 'Lacio',
 'Yaroslavl',
 'Finlandia del Sudoeste',
 'Bashkortostan',
 'Lublin',
 'Dublin',
 'Toscana',
 'Baden-Wurtemberg',
 'Oslo',
 'Banska Bystrica',
 'Lombardia',
 'Andalucia',
 'Piamonte',
 'Lieja',
 'Donetsk',
 'Schleswig-Holstein',
 'Silesia',
 'Durango',
 'Espiritu Santo',
 'Santiago de Chile',
 'Pinar del Rio',
 'Puno',
 'Tamaulipas',
 'La Paz',
 'Matagalpa',
 'Baja California',
 'Campeche',
 'Carabobo',
 'Amapa',
 'Santa Caterina',
 'Coahuila',
 'Guantanamo',
 'Valle del Cauca',
 'Arequipa',
 'Acre',
 'Ayacucho',
 'Rio de Janeiro',
 'Telangana',
 'Canterbury',
 'Calabarzon',
 'Lorestan',
 'Izmir',
 'Antalya',
 'Taiz',
 'Hokkaido',
 'Mindanao Septentrional',
 'Chauia-Uardiga',
 'Gran Accra',
 'Tizi Ouzou',
 'Mequinez-Tafilalet',
 'Central',
 'Nilo Blanco',
 'Alejandria',
 'Katanga',
 'Gezira',
 'Benadir',
 'Kindia',
 'Taza-Alhucemas-Taunat',
 'Dire Dawa',
 'Tambov',
 'Utrecht',
 'Limburgo',
 'Sofia',
 'Normandia',
 'Berlin',
 'Cerdena',
 'Abruzos',
 'Lugansk',
 'Henao',
 'Valenciana',
 'Shizuoka',
 'Anhui',
 'Gyeongsangnam',
 'Hebei',
 'Andhra Pradesh',
 'Surjandarin',
 'Bishkek',
 'Pekin',
 'Bengala Occidental',
 'Visayas Occidental',
 'Luzon Central',
 'Tekirdag',
 'Meca',
 'Imericia',
 'Osaka',
 'Sichuan',
 'Celebes Suroriental',
 'Territorio del Norte',
 'Guilan',
 'Juzestan',
 'Liguria',
 'Sajonia',
 'Auvernia-Rodano-Alpes',
 'Moscu',
 'Amberes',
 'Daguestan',
 'Cheliabinsk',
 'Brandenburgo',
 'Auvernia',
 'Astracan',
 'Mazovia',
 'Manisa',
 'Tel Aviv',
 'Astana',
 'Tasmania',
 'Jharkhand',
 'Taranaki',
 'Markazi',
 'Eskisehir',
 'Jambi',
 'Ankara',
 'Shanxi',
 'Fukui',
 'Basora',
 'Waikato',
 'Almaty',
 'Ajman',
 'Gyeonggi',
 'Nelson',
 'Jiangxi',
 'Chongqing',
 'Jaiber Pajtunjua',
 'Nom Pen',
 'Tamil Nadu',
 'Perak',
 'Sumatra Meridional',
 'Cuscatlan',
 'Kabul',
 'Oklahoma',
 'Kaduna',
 'Kampala',
 'Rios',
 'Niger',
 'Constantina',
 'Ebonyi',
 'Tanger-Tetuan',
 'Maseru',
 'Vastra Gotaland',
 'Castilla y Leon',
 'Dnipropetrovsk',
 'Renania-Palatinado',
 'Mykolayiv',
 'Calabria',
 'Mecklemburgo-Pomerania Occidental',
 'Vilna',
 'Timis',
 'Berna',
 'Borgona-Franco Condado',
 'Budapest',
 'Navarra',
 'Corse',
 'Region Capital',
 'Porto',
 'Gales',
 'Drenthe',
 'Amur',
 'Varmland',
 'Salzburgo',
 'Salta',
 'Quezaltenango',
 'Islas Baleares',
 'Sumy',
 'Bacau',
 'Kymenlaakso',
 'Opole',
 'Brabante Septentrional',
 'Gomel',
 'Rogaland',
 'Primorje-Gorski Kotar',
 'Kaunas',
 'Vinnytsia',
 'Ginebra',
 'Turingia',
 'Irkutsk',
 'Prahova',
 'Jarkov',
 'Misiones',
 'Sinaloa',
 'Cienfuegos',
 'Denizli',
 'Assam',
 'Corum',
 'Fujian',
 'Cordillera',
 'Prefectura de Vientian',
 'Hanoi',
 'Uttarakhand',
 'Kashkadar',
 'Sistan y Baluchistan',
 'Aichi',
 'Trengganu',
 'Kerala',
 'Muharraq',
 'Maryland',
 'Georgia',
 'Alabama',
 'Massachusetts',
 'Virginia',
 'Nevada',
 'Michigan',
 'Minnesota',
 'Columbia britanica',
 'Nebraska',
 'Alberta',
 'Connecticut',
 'Kentucky',
 'Fayun',
 'Flanders Oriental',
 'Kumanovo',
 'Overijssel',
 'Dinamarca Meridional',
 'Kaliningrado',
 'Zagreb',
 'Frisia',
 'Stavropol',
 'Constanza',
 'Hedmark',
 'San Galo',
 'Varna',
 'Moravia-Silesia',
 'Liberec',
 'Zurich',
 'Ivanovo',
 'Melilla',
 'Kaluga',
 'Poltava',
 'Upsala',
 'Medina',
 'Kuala Lumpur',
 'Cadisia',
 'Hyogo',
 'Arbil',
 'Fars',
 'Henan',
 'Chittagong',
 'Nangarhar',
 'Bay of Plenty',
 'Pahang',
 'Tiflis',
 'Ninive',
 'Zanyan',
 'Bali',
 'Daejeon',
 'Gisborne',
 'Occidental',
 'Kien Giang',
 'Hormozgan',
 'Delaware',
 'Tennessee',
 'Arkansas',
 'Misuri',
 'Oregon',
 'Maine',
 'Saskatchewan',
 'Harare',
 'Donga',
 'Anseba',
 'Centro',
 'Valcea',
 'Brest',
 'Rio Grande do Sul',
 'Masaya',
 'Antioquia',
 'Guanacaste',
 'Esteli',
 'Oruro',
 'Yucatan',
 'Oueme',
 'Nigde',
 'Ardahan',
 'Kasai Occidental',
 'Gran Polonia',
 'Equateur',
 'Septentrional',
 'Sanliurfa',
 'Kahramanmaras',
 'Haifa',
 'Thies',
 'Oran',
 'Nueva Jersey',
 'Virginia Occidental',
 'Misisipi',
 'Manipur',
 'Pernambuco',
 'Mato Grosso',
 'Arauca',
 'San Luis Potosi',
 'Mendoza',
 'Tocantins',
 'Mayabeque',
 'Matanzas',
 'Villa Clara',
 'Los Lagos',
 'Santa Ana',
 'Anzoategui',
 'La Romana',
 'Barahona',
 'Paraiba',
 'La Vega',
 'Magdalena',
 'Ivano-Frankivsk',
 'Mwanza',
 'Bengasi',
 'Arjanguelsk',
 'Jizan',
 'Lodz',
 'Siauliai',
 'Choluteca',
 'Chiapas',
 'Rio Grande del Norte',
 'Artibonito',
 'Sancti Spiritus',
 'Quindio',
 'Hidalgo',
 'Santander',
 'Atlantico',
 'San Fernando',
 'Aragua',
 'San Juan',
 'Granma',
 'Callao',
 'Canelones',
 'Colon',
 'Piaui',
 'Gaziantep',
 'Busan',
 'Konya',
 'Hamadan',
 'Oita',
 'Mongolia Interior',
 'Odisha',
 'Granada',
 'Escuintla',
 'Distrito Capital',
 'Yoro',
 'Bio-Bio',
 'San Miguel',
 'Guerrero',
 'Cochabamba',
 'Caldas',
 'Lara',
 'Casanare',
 'Sylhet',
 'Khatlon',
 'Ciudad de Almaty',
 'Borneo Occidental',
 'Pavlodar',
 'Manawatu-Wanganui',
 'Jammu y Cachemira',
 'Hims',
 'Riau',
 'Babilonia',
 'Khulna',
 'Guadalupe',
 'Colima',
 'Junin',
 'Entre Rios',
 'Hiroshima',
 'Oyo',
 'Katsina',
 'Buenos Aires (provincia)',
 'Carolina del Sur',
 'Klaipeda',
 'Yunnan',
 'Espaillat',
 'Bulawayo',
 'Malanje',
 'Marlborough',
 'Baki',
 'Negeri Sembilan',
 'Sind',
 'Sarawak',
 'Jorasan Razavi',
 'Lebap',
 'Sevastopol',
 'Oaxaca',
 'Guayas',
 'San Pedro de Macoris',
 "O'Higgins",
 'La Libertad',
 'Peravia',
 'Chaco',
 'Paysandu',
 'Rivera',
 'Duarte',
 'Cordoba',
 'Santa Cruz',
 'Asuncion',
 'Piura',
 'Ciego de Avila',
 'Cajamarca',
 'Chinandega',
 'Antofagasta',
 'Rondonia',
 'Quintana Roo',
 'Tachira',
 'Kirsehir',
 'Asjabad',
 'Guizhou',
 'Isfahan',
 'Aman',
 'Yazd',
 'Al Jawf',
 'Kermanshah',
 'Sumatra Occidental',
 'Hong Kong',
 'Akmola',
 'Aydin',
 'Nagasaki',
 'Sivas',
 'Mardin',
 'Mures',
 'Carintia',
 'Vladimir',
 'Belgorod',
 'Valparaiso',
 'Manabi',
 'El Beni',
 'Sergipe',
 'Sonsonate',
 'Southland',
 'Kilis',
 'Siirt',
 'Erzurum',
 'Jeju',
 'Kastamonu',
 'Wisconsin',
 'Quebec',
 'Nuevo Mexico',
 'Dukala-Abda',
 'Asir',
 'Hatay',
 'Nzerekore',
 'Chiba',
 'Asturias',
 'Cork',
 'Alta Austria',
 'Murcia',
 'Enugu',
 'Costa',
 'Suhaj',
 'Dublin del Sur',
 'Martinica',
 'Bolivar',
 'San Cristobal',
 'Balikesir',
 'Balti',
 'Osjecko-Baranjska',
 'Kayseri',
 'Northland',
 'Luisiana',
 'Manitoba',
 'Maputo',
 'Cundinamarca',
 'Tarapaca',
 'Chandigarh',
 'Inhambane',
 'Galicia',
 'Teheran',
 'Khanh Hoa',
 "Hawke's Bay",
 'Doha',
 'Rhode Island',
 'Utah',
 'Namibe',
 'Nyanza',
 'Nord',
 'Mazandaran',
 'Saga',
 'Mopti',
 'Durres',
 'Ashanti',
 'Ancash',
 'Borneo Meridional',
 'Ica',
 'Laghouat',
 'Mpumalanga',
 'Lusaka',
 'Grodno',
 'Praga',
 'Brabante Flamenco',
 'Briansk',
 'Stiria',
 'Bruselas',
 'Potosi',
 'Bengkulu',
 'Hainan',
 'Nuevo Hampshire',
 'Bechar',
 'Abia',
 'Sud',
 'Ogun',
 'Bani Suwayf',
 'Adamawa',
 'Provincia Oriental',
 'Kankan',
 'Niari',
 'Cluj',
 'Podlaquia',
 'Flanders Occidental',
 'Polonia Menor',
 'Federacion de Bosnia y Herzegovina',
 'Zaporiyia',
 'Burgas',
 'Friuli-Venecia Julia',
 'Corrientes',
 'Roraima',
 'Tolima',
 'Mascate',
 'Mary',
 'Osmaniye',
 'Karbala',
 'Yamaguchi',
 'Idaho',
 'Distrito de Columbia',
 'Estado Libre',
 'Batna',
 'Sokoto',
 'Tunez',
 'Maradi',
 'Benguela',
 'Sarre',
 'Caras-Severin',
 'Arad',
 'Cherkasy',
 'Volinia',
 'Adamaoua',
 'Mbeya',
 'Kwara',
 'Plateau',
 'Atakora',
 'Yibuti',
 'Est',
 'Trentino-Alto Adigio',
 'Maramures',
 'Chisinau',
 'Aceh',
 'Nagano',
 'Kigoma',
 'Bujumbura Mairie',
 'Ceuta',
 'Chernihiv',
 'Cantabria',
 'Podgorica',
 'Pwani',
 'Estuaire',
 'Vlore',
 'Andijan',
 'Territorio de la Capital Federal',
 'Gulu',
 'Azuay',
 'Al Buhayrah',
 'Kigali',
 'Ecuatoria Central',
 'Luxemburgo',
 'Chuquisaca',
 'Miranda',
 'Selangor',
 'Ouest del Sur',
 'Tadla-Azilal',
 'Iasi',
 'Yambol',
 'Puducherry',
 'Hradec Kralove',
 'Sofala',
 'Sikasso',
 'Arusha',
 'Ondo',
 'Menia',
 'Limpopo',
 'Khomas',
 'Nouakchott',
 'Edo',
 'Cabo Delgado',
 'Osun',
 'Djelfa',
 'Oriental',
 'Alibori',
 'Basel-Stadt',
 'Basilicata',
 'Nitra',
 'Escania',
 'Ternopil',
 'Korce',
 'Vaud',
 'Buzau',
 'Namur',
 'Tirol',
 'Coimbra',
 'Panevezys',
 'Attica',
 'Sibiu',
 'Ardebil',
 'Can Tho',
 'Kurdistan',
 'Elazig',
 'Dix-Huit Montagnes',
 'Imo',
 'Plovdiv',
 'Braila',
 'Narino',
 'Plateaux',
 'Hordaland',
 'Extremadura',
 'Caqueta',
 'Portuguesa',
 'Matruh',
 'Mostaganem',
 'Anambra',
 'Misurata',
 'Bamako',
 'Skikda',
 'Sus-Masa-Draa',
 'Nord-Ouest',
 'Gorj',
 'Zhytomyr',
 'Jutlandia Central',
 'Arica y Parinacota',
 'Puerto Said',
 'Tarija',
 'Sucre',
 'Kayes',
 'Yaracuy',
 'Mato Grosso del Sur',
 'Sirnak',
 'Dayr az Zawr',
 'Ulsan',
 'Baja California Sur',
 'Van',
 'Ucayali',
 'Tabora',
 'Moquegua',
 'Cesar',
 'Haute-Matsiatra',
 'Manzini',
 'Dolj',
 'Celebes Central',
 'Di Car',
 'Iowa',
 'Demerara-Berbice Superior',
 'Neuquen',
 'Tripura',
 'Rivne',
 'Kostanai',
 'Kocaeli',
 'Buskerud',
 'Saitama',
 'Amasya',
 'Nampula',
 'Yobe',
 'Saida',
 'Loreto',
 'French Guiana',
 'Okayama',
 'Yalova',
 'Voronezh',
 'Brasov',
 'Da Nang',
 'Batman',
 'Bangui',
 'Pernik',
 'Atacama',
 'Catamarca',
 'Chubut',
 'Monsenor Nouel',
 'Cojedes',
 'Gunma',
 'Qazvin',
 'Jorasan del Sur',
 'Baluchistan',
 'Rajshahi',
 'Kagawa',
 'Vermont',
 'Mashonalandia Occidental',
 'Arges',
 'Artemisa',
 'Ibaraki',
 'Taipei',
 'Jerson',
 'Pilsen',
 'Harjumaa',
 'Montana',
 'Shkoder',
 'Mtwara',
 'Aomori',
 'Botosani',
 'Aswan',
 'Diana',
 'Novgorod',
 'Lucerna',
 'Usti nad Labem',
 'Vargas',
 'Qinghai',
 'Beirut',
 'Ishikawa',
 'Irbid',
 'Kivu del Sur',
 'Nicosia',
 'Huambo',
 'Gharbia',
 'Bajo Congo',
 'Benue',
 'Choco',
 'Dakota del Sur',
 'Neamt',
 'Maniema',
 'San Luis',
 'Samsun',
 'Tete',
 'Kasala',
 'Vest-Agder',
 'Nusa Tenggara Oriental',
 'Ningxia Hui',
 'Tlemcen',
 'Olomouc',
 'Nevsehir',
 'Xinjiang Uygur',
 'Magallanes y Antartica Chilena',
 'Fukuoka',
 'Boyaca',
 'Vitsyebsk',
 'Tochigi',
 'Kafr el Sheij',
 'Nueva Esparta',
 'Al Hudayda',
 'Guelma',
 'Bugia',
 'Trebisonda',
 'Bisau',
 'Ras al-Jaima',
 'Kirovohrad',
 'Zhambyl',
 'Split-Dalmacia',
 'Santiago del Estero',
 'Kars',
 'Aksaray',
 'Tanga',
 'Zilina',
 'Vallee du Bandama',
 'Galway',
 'Manica',
 'Maluku',
 'Malatya',
 'Ziguinchor',
 'Gran Valle del Rift',
 'Diffa',
 'Borgou',
 'Adiyaman',
 'Jinja',
 'Tipaza',
 'Morogoro',
 'Atsinanana',
 'Asiut',
 'Selandia',
 'Gyor',
 'Nusatenggara Occidental',
 'Afyonkarahisar',
 'Papua',
 'Diyarbakir',
 'Canakkale',
 'Elbasan',
 'Nueva Escocia',
 'Saladino',
 'Libano del Norte',
 'Paramaribo',
 'Mesena',
 'Extreme-Nord',
 'Kilimanjaro',
 'Lacs',
 'Qina',
 ...]

Now we have fixed all the State Names.

In [26]:
DataCoSupplyChainDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 45 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Id                    180519 non-null  int64
 12  Customer Segment               180519 non-null  object
 13  Customer State                 180519 non-null  object
 14  Department Id                  180519 non-null  int64
 15  Department Name                180519 non-null  object
 16  Latitude                       180519 non-null  float64
 17  Longitude                      180519 non-null  float64
 18  Market                         180519 non-null  object
 19  Order City                     180519 non-null  object
 20  Order Country                  180519 non-null  object
 21  Order Customer Id              180519 non-null  int64
 22  order date (DateOrders)        180519 non-null  datetime64[ns]
 23  Order Id                       180519 non-null  int64
 24  Order Item Cardprod Id         180519 non-null  int64
 25  Order Item Discount            180519 non-null  float64
 26  Order Item Discount Rate       180519 non-null  float64
 27  Order Item Id                  180519 non-null  int64
 28  Order Item Product Price       180519 non-null  float64
 29  Order Item Profit Ratio        180519 non-null  float64
 30  Order Item Quantity            180519 non-null  int64
 31  Sales                          180519 non-null  float64
 32  Order Item Total               180519 non-null  float64
 33  Order Profit Per Order         180519 non-null  float64
 34  Order Region                   180519 non-null  object
 35  Order State                    180519 non-null  object
 36  Order Status                   180519 non-null  object
 37  Product Card Id                180519 non-null  int64
 38  Product Category Id            180519 non-null  int64
 39  Product Image                  180519 non-null  object
 40  Product Name                   180519 non-null  object
 41  Product Price                  180519 non-null  float64
 42  shipping date (DateOrders)     180519 non-null  datetime64[ns]
 43  Shipping Mode                  180519 non-null  object
 44  Order State Clean              180519 non-null  object
dtypes: datetime64[ns](2), float64(12), int64(13), object(18)
memory usage: 62.0+ MB

We can notice that order date (DateOrders) and shipping date (DateOrders) is in float type. we should change it to datetime datatype.

In [25]:
DataCoSupplyChainDataset['order date (DateOrders)'] = pd.to_datetime(DataCoSupplyChainDataset['order date (DateOrders)'])
DataCoSupplyChainDataset['shipping date (DateOrders)'] = pd.to_datetime(DataCoSupplyChainDataset['shipping date (DateOrders)'])

In [131]:
DataCoSupplyChainDataset['order date (DateOrders)'] = DataCoSupplyChainDataset['order date (DateOrders)'].dt.strftime('%d-%m-%Y')
DataCoSupplyChainDataset['shipping date (DateOrders)'] = DataCoSupplyChainDataset['shipping date (DateOrders)'].dt.strftime('%d-%m-%Y')

In [132]:
DataCoSupplyChainDataset[['order date (DateOrders)', 'shipping date (DateOrders)']].sample(10)

       order date (DateOrders) shipping date (DateOrders)
10830               04-05-2017                 06-05-2017
136663              11-07-2017                 13-07-2017
57814               27-09-2017                 01-10-2017
137551              22-05-2017                 24-05-2017
54348               19-06-2017                 21-06-2017
59699               20-07-2017                 26-07-2017
73531               24-11-2016                 28-11-2016
70671               26-01-2018                 28-01-2018
164160              23-10-2015                 27-10-2015
139827              26-05-2016                 31-05-2016

In [39]:
DataCoSupplyChainDataset.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,shipping date (DateOrders),Shipping Mode,Order State Clean
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,PR,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,2018-01-31 22:56:00,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2018-02-03 22:56:00,Standard Class,Java Occidental
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,PR,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,2018-01-13 12:27:00,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajastán,PENDING,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2018-01-18 12:27:00,Standard Class,Rajastan
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,19491,Consumer,CA,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,2018-01-13 12:06:00,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajastán,CLOSED,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2018-01-17 12:06:00,Standard Class,Rajastan
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,CA,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,2018-01-13 11:45:00,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2018-01-16 11:45:00,Standard Class,Queensland
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,PR,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,2018-01-13 11:24:00,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2018-01-15 11:24:00,Standard Class,Queensland

In [43]:
# Rearranging the Column order

New_order_columns = ['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Id', 'Customer Segment', 'Customer State',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order State Clean', 'Order Status',
       'Product Card Id', 'Product Category Id', 'Product Image',
       'Product Name', 'Product Price', 'shipping date (DateOrders)',
       'Shipping Mode']

DataCoSupplyChainDataset = DataCoSupplyChainDataset[New_order_columns]

In [44]:
DataCoSupplyChainDataset.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order State Clean,Order Status,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,PR,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,2018-01-31 22:56:00,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,Java Occidental,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2018-02-03 22:56:00,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,PR,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,2018-01-13 12:27:00,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajastán,Rajastan,PENDING,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2018-01-18 12:27:00,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,19491,Consumer,CA,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,2018-01-13 12:06:00,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajastán,Rajastan,CLOSED,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2018-01-17 12:06:00,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,CA,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,2018-01-13 11:45:00,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,Queensland,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2018-01-16 11:45:00,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,PR,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,2018-01-13 11:24:00,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,Queensland,PENDING_PAYMENT,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,2018-01-15 11:24:00,Standard Class

Now we have cleaned the DataCoSupplyChainDataset. Let's move to the Tokenized_access_logs Dataset.

In [46]:
Tokenized_access_logs.head()

,Product,Category,Date,Month,Hour,Department,ip,url
0,adidas Brazuca 2017 Official Match Ball,baseball & softball,9/1/2017 6:00,Sep,6,fitness,37.97.182.65,/department/fitness/category/baseball%20&%20so...
1,The North Face Women's Recon Backpack,hunting & shooting,9/1/2017 6:00,Sep,6,fan shop,206.56.112.1,/department/fan%20shop/category/hunting%20&%20...
2,adidas Kids' RG III Mid Football Cleat,featured shops,9/1/2017 6:00,Sep,6,apparel,215.143.180.0,/department/apparel/category/featured%20shops/...
3,Under Armour Men's Compression EV SL Slide,electronics,9/1/2017 6:00,Sep,6,footwear,206.56.112.1,/department/footwear/category/electronics/prod...
4,Pelican Sunstream 100 Kayak,water sports,9/1/2017 6:01,Sep,6,fan shop,136.108.56.242,/department/fan%20shop/category/water%20sports...

In [45]:
Tokenized_access_logs.shape

(469977, 8)

We can see that their is 469977 rows and 8 columns in Tokenized_access_logs.

In [97]:
# Checking info of the dataset
Tokenized_access_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469977 entries, 0 to 469976
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Product     469977 non-null  object
 1   Category    469977 non-null  object
 2   Date        469977 non-null  object
 3   Month       469977 non-null  object
 4   Hour        469977 non-null  int64
 5   Department  469977 non-null  object
 6   ip          469977 non-null  object
 7   url         469977 non-null  object
dtypes: int64(1), object(7)
memory usage: 28.7+ MB

We can notice that Date column is in Object Data Type and the datetime format is mixed, so we will be standardise it to "%d-%m-%Y" format, Rest of the columns are fine.

In [101]:
Tokenized_access_logs['Date'] = pd.to_datetime(Tokenized_access_logs['Date'], dayfirst=True, errors='coerce')
Tokenized_access_logs['Date'] = pd.to_datetime(Tokenized_access_logs['Date'], dayfirst=True, errors='coerce').dt.strftime('%d-%m-%Y')

In [102]:
# Checking the Date Column
Tokenized_access_logs['Date'].sample(20)

124578    11-09-2017
294980    14-09-2017
165646    19-12-2017
115947    28-10-2017
48084     16-10-2017
33999     04-12-2017
181165    21-12-2017
411376    23-01-2018
450419    02-10-2017
97232     25-10-2017
345734    17-09-2017
358636    13-01-2018
42150     06-09-2017
211593    14-09-2017
159157    13-09-2017
6692      02-09-2017
146992    03-11-2017
272028    23-11-2017
13907     02-12-2017
276551    14-09-2017
Name: Date, dtype: object

We have converted the date column values into '%d-%m-%Y' Format Succesfully.

In [99]:
# Checking info of the dataset
Tokenized_access_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469977 entries, 0 to 469976
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Product     469977 non-null  object
 1   Category    469977 non-null  object
 2   Date        469977 non-null  datetime64[ns]
 3   Month       469977 non-null  object
 4   Hour        469977 non-null  int64
 5   Department  469977 non-null  object
 6   ip          469977 non-null  object
 7   url         469977 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 28.7+ MB

In [21]:
# Checking for Null Values
Tokenized_access_logs.isnull().sum()

Product       0
Category      0
Date          0
Month         0
Hour          0
Department    0
ip            0
url           0
dtype: int64

There is Null Values in the dataset, that's a very good thing.

In [128]:
# Checking the data in random rows
Tokenized_access_logs.sample(10)

,Product,Category,Date,Month,Hour,Department,ip,url
278312,Field & Stream Sportsman 16 Gun Fire Safe,fishing,24-11-2017,Nov,6,fan shop,14.161.219.217,/department/fan%20shop/category/fishing/produc...
137303,Team Golf St. Louis Cardinals Putter Grip,accessories,01-11-2017,Nov,14,outdoors,143.182.50.145,/department/outdoors/category/accessories/prod...
11607,Nike Men's Free TR 5.0 TB Training Shoe,as seen on tv!,11-10-2017,Oct,20,footwear,212.26.127.49,/department/footwear/category/as%20seen%20on%2...
408585,adidas Youth Germany Black/Red Away Match Soc,girls' apparel,26-09-2017,Sep,15,golf,192.105.2.226,/department/golf/category/girls'%20apparel/pro...
171513,Nike Men's Dri-FIT Victory Golf Polo,women's apparel,14-09-2017,Sep,11,golf,135.247.44.107,/department/golf/category/women's%20apparel/pr...
264520,Diamondback Boys' Insight 24 Performance Hybr,basketball,14-09-2017,Sep,21,fitness,82.77.81.68,/department/fitness/category/basketball/produc...
392180,Nike Men's CJ Elite 2 TD Football Cleat,men's footwear,24-09-2017,Sep,8,apparel,189.18.197.88,/department/apparel/category/men's%20footwear/...
285373,Bag Boy M330 Push Cart,golf gloves,03-01-2018,Jan,15,outdoors,116.164.189.38,/department/outdoors/category/golf%20gloves/pr...
125338,Nike Men's Free TR 5.0 TB Training Shoe,as seen on tv!,30-10-2017,Oct,11,footwear,159.21.136.111,/department/footwear/category/as%20seen%20on%2...
265308,Field & Stream Sportsman 16 Gun Fire Safe,fishing,14-09-2017,Sep,21,fan shop,194.172.187.58,/department/fan%20shop/category/fishing/produc...

The Dataset now has been cleaned, let's export the dataset which we have cleaned and load it in Power BI for Visualization.

In [133]:
# Exporting the DataCoSupplyChainDataset to Excel Format

DataCoSupplyChainDataset.to_excel("DataCoSupplyChainDataset_cleaned.xlsx", index=False)

In [130]:
# Exporting the Tokenized_access_logs to Excel Format

Tokenized_access_logs.to_excel("Tokenized_access_logs.xlsx", index=False)